<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="dbcs" connectionString="Data Source=DESKTOP-LRGEC42\SQLEXPRESS;Initial Catalog=LOGIN_DATA;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>